#### Note book basics

**old**

* *italic*
* *** IB*** 
* Normal test 
    * sublist
    * sublist2
    
    
 1. ordered list element 1
 2. ordered list element 2
 
 
 ### images
 
 [jupyter logo](Python.png)
 
 <img src="Python.png" style="float.left">

### Python basics

### python version 3.7

* Scripting
* object oriented
* Functional

# python Comments

print ("Goodafternoon !"," ") # Basics out put
print("Hello Python")

### Assignment

In [9]:
n1 = 123456 # single variable Assignment

n2 = n3 = n4 = n1 # Multi variabe Assignment of the same value

a, b, c = 123, 234, 345 # Multi Variable 

print(a,b,c)

123 234 345

### Arithmetic Operations
- +
- -
- *
- /
- %
- " "

In [10]:
n1

123456

In [11]:
n1 % 11

n3 = n2 ** 12345

type(n3)
len(str(n3))

62855

In [12]:
n1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82

len(str(atoms) )

83

### Conditions

In [13]:
atoms < 10 ** 79

False